{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>Serie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ serie.titre }}</td>
            </tr>
            <tr>
                <th>Producteur</th>
                <td>{{ serie.producteur }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ serie.description }}</td>
            </tr>
            <tr>
                <th>Nombre_episodes</th>
                <td>{{ serie.nombreEpisodes }}</td>
            </tr>
            <tr>
                <th>Date_sortie</th>
                <td>{{ serie.dateSortie ? serie.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_serie_index') }}">back to list</a>

    <a href="{{ path('app_serie_edit', {'id': serie.id}) }}">edit</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
